CompileFlags:
    Add:
        - "-std=c++23"

Diagnostics:
    ClangTidy:
        Add:
            - boost-*
            - concurrency-*
            - modernize-*
            - performance-*
            - clang-analyzer-*
            - portability-*
            - google-*
        Remove:
            - portability-simd-intrinsics
