repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-yaml
        exclude: "(conda/meta.yaml|.clang\\-format)$"
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=lf]
        exclude: docs/make.bat
      - id: trailing-whitespace
  - repo: https://github.com/asottile/pyupgrade
    rev: "v3.21.2"
    hooks:
    - id: pyupgrade
      args: [--py311-plus]
  - repo: https://github.com/PyCQA/flake8
    rev: 7.3.0
    hooks:
      - id: flake8
        exclude: tests
        args:
          - --extend-ignore=E203
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
        args : [--line-length=79]
  # - repo: https://github.com/myint/docformatter
  #   rev: "v1.7.5"
  #   hooks:
  #   - id: docformatter
  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: "v0.6.13"
    hooks:
    - id: cmake-lint
    - id: cmake-format
      additional_dependencies: [pyyaml]
      types: [file]
      files: CMakeLists.txt
  - repo: https://github.com/codespell-project/codespell
    rev: "v2.4.1"
    hooks:
    - id: codespell
      exclude: "(cf.py|pyinterp/.*json)$"
      args: [--ignore-words-list, "degreee"] # degreeE is a valid axis unit
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v21.1.8
    hooks:
      - id: clang-format
        exclude: "(dataset.*json)$"
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
      - id: mypy
        exclude: (examples|docs)/
        additional_dependencies:
          # Type stubs
          - types-requests
          - types-setuptools
          # Typed libraries
          - dask
          - numpy
