recursive-include docs *
recursive-include src *
recursive-include tests *
recursive-include third_party *
include CMakeLists.txt
include CODE_OF_CONDUCT.md
include LICENSE
include README.md
include setup.py
include TODO.md
global-exclude *.py[dco]
global-exclude *.so
prune docs/build
