recursive-include docs *
recursive-include src *
recursive-include third_party *
recursive-include src *.pyi
recursive-exclude scripts *
include CMakeLists.txt
include CODE_OF_CONDUCT.md
include LICENSE
include README.rst
include setup.py
include TODO.md
global-exclude *.py[dco]
global-exclude *.so
prune docs/build
