name: CI

on:
  push:
    branches: "*"
  pull_request:
    branches: main

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  coverage:
    name: coverage
    runs-on: ubuntu-latest
    timeout-minutes: 45
    strategy:
      fail-fast: false
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        submodules: recursive
        fetch-depth: 0
        fetch-tags: true

    - name: Setup Miniconda
      uses: mamba-org/setup-micromamba@v1
      with:
        cache-downloads: true
        condarc: |
          channels:
            - conda-forge
        create-args: |
          python=3.12
        environment-name: pyinterp
        environment-file: conda/linux.yml
        init-shell: bash

    - name: Generate coverage data
      shell: bash -l {0}
      run: |
        ./scripts/generate_coverage.sh

    - name: Upload HTML report as artifact
      uses: actions/upload-artifact@v4
      with:
        name: coverage-report
        path: build/htmllcov

  linux:
    name: ${{ matrix.python-version }}-posix
    runs-on: ubuntu-latest
    timeout-minutes: 15
    strategy:
      fail-fast: false
      max-parallel: 5
      matrix:
        # Python 3.12 is used in all other jobs
        python-version: ['3.11', '3.13', '3.14']
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        submodules: recursive
        fetch-depth: 0
        fetch-tags: true

    - name: Setup Miniconda
      uses: mamba-org/setup-micromamba@v1
      with:
        cache-downloads: true
        condarc: |
          channels:
            - conda-forge
        create-args: |
          python=${{ matrix.python-version }}
        environment-name: pyinterp
        environment-file: conda/linux.yml
        init-shell: bash

    - name: Build extension
      shell: bash -l {0}
      run: |
        python setup.py build_ext
        python setup.py build

    - name: Run tests
      shell: bash -l {0}
      run: |
        pytest -v -ra

  linux_arm64:
    name: ${{ matrix.python-version }}-arm64
    runs-on: ubuntu-24.04-arm
    timeout-minutes: 30
    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.12']
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        submodules: recursive
        fetch-depth: 0
        fetch-tags: true
    - name: Setup Miniconda
      uses: mamba-org/setup-micromamba@v1
      with:
        cache-downloads: true
        condarc: |
          channels:
            - conda-forge
        environment-name: pyinterp
        create-args: >-
          python=${{ matrix.python-version }}
          cmake
          cxx-compiler
          dask
          libboost-devel
          make
          numcodecs
          numpy
          pandas
          pip
          pytest
          setuptools
          xarray
        init-shell: bash
    - name: Build extension
      shell: bash -l {0}
      run: |
        python setup.py build_ext
        python setup.py build
    - name: Run tests
      shell: bash -l {0}
      run: |
        pytest -v -ra

  macos:
    name: macos
    runs-on: macos-latest
    timeout-minutes: 45
    strategy:
      fail-fast: false
      max-parallel: 5

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        submodules: recursive
        fetch-depth: 0
        fetch-tags: true

    - name: Setup Miniconda
      uses: mamba-org/setup-micromamba@v1
      with:
        cache-downloads: true
        condarc: |
          channels:
            - conda-forge
        create-args: |
          python=3.14
        environment-name: pyinterp
        environment-file: conda/osx.yml
        init-shell: bash

    - name: Build extension
      shell: bash -l {0}
      run: |
        python setup.py build_ext
        python setup.py build

    - name: Run tests
      shell: bash -l {0}
      run: |
        pytest -v -ra

    - name: Generate Documentation
      shell: bash -l {0}
      run: |
        sphinx-build -b html docs/source docs/build

    - name: Setup Pages
      uses: actions/configure-pages@v5

    - name: Upload artifact
      uses: actions/upload-pages-artifact@v3
      with:
        path: docs/build

    - name: Deploy to GitHub Pages
      id: deployment
      uses: actions/deploy-pages@v4

  win:
    name: win
    runs-on: windows-2022

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Setup Miniconda
      uses: mamba-org/setup-micromamba@v1
      with:
        cache-downloads: true
        condarc: |
          channels:
            - conda-forge
        create-args: |
          python=3.12
        environment-name: pyinterp
        environment-file: conda/win.yml

    - name: Building Testing Python Package
      shell: bash -l {0}
      run: |
        python setup.py build_ext
        python setup.py build
        pytest -v -ra
